.nav-item{ 
    transition: 1s ease; 
    border-radius: 10px; 
    padding: 0px 15px; 
    margin: 0px 5px; 
    font-size: 20px 
} 
.nav-item:hover{ 
    background-color: brown; 
    border-radius: 10px;
} 
.just-text{ 
    text-align: justify; 
} 
.list-member{ 
list-style: none; 
} 
.list-member li{ 
    background-color: blueviolet; 
    text-align: center; 
    padding: 10px; 
    margin-bottom: 5px; 
    font-size: 20px; 
    color: #fff; 
    border-radius: 5px;
    border: 2px solid #000;
} 
.list-member li:hover{ 
    background-color: brown; 
    border-radius: 5px;
} 
.list-member{ 
    margin-top: 50px; 
} 